<div class="div">
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Name:</b>
	  <%= @todo.user.full_name %>
	</p>

	<p>
	  <b>Content:</b>
	  <%= @todo.content %>
	</p>

	<p>
	  <b>Status:</b>
	  <%= @todo.status %>
	</p>


	<%= link_to 'Edit', edit_todo_path(@todo) %> |
	<%= link_to 'Back', todos_path %>
</div>